<!--
CSS colorchip from 'colorhunt.co'
#93B5C6 흐린파랑 #C9CCD5흐린연보라 #E4D8DC흐린연보라핑크 #FFE3E3 연핑크
-->


body {
  background-color:#E4D8DC;
}
hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #C9CCD5;
  border-width: 10px;
  width:5%;
}
h1{
  color: #93B5C6;
}
h3{
  color: #93B5C6;
}
